@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'GFS Neohellenic', sans-serif;
}

:root {
    --font-size-1: 0.8rem;
    --font-size-2: 1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.35rem;
    --font-size-5: 1.5rem;
    --font-size-6: 1.75rem;
    --font-size-7: 2rem;
    --grey-op-1: #eee;
    --grey-op-2: #ccc;
    --grey-op-3: #999;
    --blue-2: #b3dbff;
    --blue-4: #47afff;
    --blue-5: #0095f6;
    --blue-6: #0074cc;
    --blue-7: #0057a3;
    --blue-9: #002952;
    --box-shadow: rgba(0,0,0,0.2) 0 0.25rem 0.5rem;
}

.App {
    width: 100%;
}